body {
    margin: 0px;
    padding: 0px;
    background-image: url("../images/home.jpg");
    background-size: cover;
    color: white;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}
.left{
    /* border: 2px solid red; */
    position: absolute;
    left: 34px;
    top: 18px;
    margin: 5px;
    position: fixed;
    top: 30px;
}
.left img{
    display: block;
    margin: auto;
    width: 79px;
    filter: invert(100%);
}
.left div{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}
.mid{
    display: block;
    margin: 30px auto;
    width: 618px;
    /* border: 2px solid red; */
}
.right{
    /* border: 2px solid red; */
    position: absolute;
    right: 34px;
    top: 30px;
    position: fixed;
    top: 30px;
}
.navbar{
    display: inline-block;
    position: fixed;
    top:30px;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}
.navbar li a:hover, .navbar li a.active{
    color: grey;
}
.btn{
    margin: 9px 9px;
    color: white;
    background-color: black;
    padding: 7px 20px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}
.btn:hover{
    background:linear-gradient(45deg,black,grey);
}
.container{
    border: 2px solid rgb(255, 255, 255);
    margin: 180px 65px;
    padding: 5px 8px;
    width: 44%;
    border-radius: 10px;
}
.form-group input{
    text-align: center;
    display: block;
    width: 537px;
    padding: 5px;
    margin: 17px auto;
    border: 2px solid rgb(163, 163, 163);
    font-size: 20px;
    border-radius: 10px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight:500;
    color: black;
}
.container h1{
    text-align: center;
    margin-bottom: 40px;
}

.container button{
    display: block;
    margin: 30px auto;
    width: 548px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}